<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= yield :page_title %></title>
        <meta name="description" content="<%= yield :page_meta_description %>">
        <meta name="viewport" content="width=device-width">
        <meta name="apple-itunes-app" content="app-id=384372078">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
      <%= yield %>
    </body>
</html>
